body {
  font-family: "Georgia", "Palatino Linotype", serif;
}

h1, p {
    color: #2B6CA3;
    text-align: center;
}

h2{
	font-size: 36px;
	text-align: center;
	margin-top: 50px;
	font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
	color: #002e5d; 
}

#contact-p{
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
	font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

form div {
  margin-bottom: 10px;
  width: 100%;
}

form label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #002e5d;
  color: white;
}

form input[type="submit"] {
  background-color: #002e5d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

button{
  width: 250px;
  background-color: #2B6CA3;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  border-color: #3482c4;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
  button{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
  }
}
